<div class="container border bg-light rounded-2 ">
    <div class="container  bg-light rounded-2 p-5 text-start">
        <h2 class="mb-4">4.Seleccione los dias que podra asistir a la asamblea</h2>
        <form>
            <div class="form-check pb-3">
                <input type="checkbox" class="form-check-input">
                <label class="form-check-label" for="check1">Lunes 12 de mayo</label>
            </div>
            <div class="form-check py-3">
                <input type="checkbox" class="form-check-input">
                <label class="form-check-label" for="check1">Miercoles 15 de mayo</label>
            </div>
            <div class="form-check py-3">
                <input type="checkbox" class="form-check-input">
                <label class="form-check-label" for="check2">Viernes 2 de junio</label>
            </div>
            <div class="form-check py-3">
                <input type="checkbox" class="form-check-input">
                <label class="form-check-label" for="check1">jueves 7 ed junio</label>
            </div>
        </form>
    </div>
    <div class="container">
        <div class="row pt-2">
            <div class="col-12 mt-5 text-end p-3">
                <button type="button" class="btn btn-primary active">Siguiente</button>
            </div>
        </div>
    </div>
</div>