<div class="container  mt-5 justify-content-center">
    <div class="col-12 border rounded-2 pb-3">
        <div class="row text-center p-5">
            <div class="col-12">
                <h1>Encuesta para los socios de Apdayc</h1>
            </div>
        </div>
        <div class="row text-center p-5">
            <div class="col-12">
                <p>Se desea conocer la participacion de la asamblea extraordinaria realizada el 28 de marzo del
                    2023</p>
            </div>
        </div>
        <div class="container text-center p-4">
            <button class="btn btn-primary" (click)="empezar()">EMPEZAR ENCUESTA</button>
        </div>
    </div>
</div>

<!-- <router-outlet></router-outlet> -->