<div class="container">
    <div class="row text-center border p-5">
        <div class="col-6">
            <h1>col a</h1>
        </div>
        <div class="col-6">
            <h1>col b</h1>
        </div>
    </div>
    <div class="row text-center border p-5">
        <div class="col-6">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores iste iure eligendi, dolores eaque necessitatibus distinctio! Consequuntur, totam non. Reiciendis eaque non laborum rem enim nesciunt eos repellendus veritatis consequatur?</p>
        </div>
        <div class="col-6">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias accusantium, impedit, esse, iusto quasi ad optio quo exercitationem deleniti labore minus praesentium. Quidem dicta voluptates autem minima culpa in quae.</p>
        </div>
    </div>
    <div class="container text-center p-4">
        <button class="btn btn-primary" (click)="empezar()">EMPEZAR ENCUESTA</button>
    </div>
</div>
<router-outlet></router-outlet>