
<app-encuesta></app-encuesta>
<div class="container p-2">
    <h2>ENCUESTA PARA ASIGNAR LA REUNION POR FIESTAS PATRIAS</h2>
    <P class="text-end">Atencion Societaria</P>
    <mat-tab-group animationDuration="0ms" [(selectedIndex)]="Next">
        <mat-tab label="preg01">
            <app-preg01></app-preg01>
        </mat-tab>
        <mat-tab label="preg02">
            <app-preg02></app-preg02>
        </mat-tab>
        <mat-tab label="preg03">
            <app-preg03></app-preg03>
        </mat-tab>
        <mat-tab label="preg04">
            <app-preg04></app-preg04>
        </mat-tab>
    </mat-tab-group>
    <!--<ul class="nav nav-tabs nav-justified">
        <li class="nav-item">
            <a class="nav-link " href=""> Pregunta 01</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="#">Pregunta 02</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="#">Pregunta 03</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="#">P.regunta 04</a>
        </li>
    </ul>
-->
</div>
<hr> 
<app-footer></app-footer>