<div class="container border bg-light rounded-2 ">
    <div class="container  bg-light rounded-2 p-5 text-start">
        <h2 class="mb-4">2.logro asistir a la ultima reunion convocada por Apdayc?</h2>
        <div class="form-check">
            <input type="radio" class="form-check-input">
            <label class="form-check-label mb-4">SI</label>
        </div>
        <div class="form-check ">
            <input type="radio" class="form-check-input">
            <label class="form-check-label mb-4">NO</label>
        </div>
    </div>
    <div class="container  bg-light rounded-2 p-5 text-start">
        <h2 class="mb-4">De no haber podido asistir indique una razon: </h2>
        <textarea class="form-control" placeholder="Ingrese texto aqui"></textarea>
    </div>
    <div class="container">
        <div class="row pt-2">
            <div class="col-12 mt-5 text-end p-3">
                <button type="button" class="btn btn-primary active">Siguiente</button>
            </div>
        </div>
    </div>
</div>
